<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>html页面</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <style>
        body {
            background-color: #eee;
        }

        #app {
            background-color: #fff;
            width: 500px;
            margin: 50px auto;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
            padding: 2em;
        }

        .box {
            padding: 1em;
            border: 1px solid #ccc;
            margin: 1em;
        }
    </style>
</head>

<body>
    <div id=app>
        <h2>单词测试</h2>
        <div v-if='list.length'>
            <div v-for='(item,index) in list'>
                序号:{{index+1}}:
                <mydiv :zh='item.zh' :en='item.en' :index='index' @chuan='jie' @shan='Ydel'></mydiv>
                {{item.isRight? '正确':'错误'}}
                <hr>
            </div>
        </div>
        <div v-else=>数据为空
            <hr>
        </div>
        <label>添加题目</label>:<input type="text" placeholder="请输入题目" v-model.trim='assets.zh'><br>
        <label>添加答案</label>:<input type="text" placeholder="请输入答案" v-model.trim='assets.en'><br>
        <button @click='Yadd'>添加</button>
    </div>
    <script>
        Vue.component('mydiv', {
            watch: {
                shuju(newVal, oldVal) {
                    if (newVal === this.en) {
                        console.log('输入正确')
                    } else {
                        console.log('输入错误')
                    }
                    this.$emit('chuan', {
                        result: newVal === this.en,
                        index: this.index
                    })
                }
            },
            data() {
                return {
                    shuju: '',
                }
            },
            methods: {
                Ydel(index) {
                    if (confirm('你确定要删除吗')) {
                        this.$emit('shan', this.index)
                    }
                }
            },
            props: ['zh', 'en', 'index'],
            template: `
            <div>
                {{zh}}:<input type='text'  v-model = 'shuju'  placeholder="请输入单词">{{en}}---<button @click='Ydel'>删除</button>
                </div>
            `
        })
        new Vue({
            el: '#app',
            data: {
                assets: {
                    zh: '',
                    en: '',
                },
                list: [
                    {
                        zh: '指令',
                        en: 'directive',
                        isRight: false
                    },
                    {
                        zh: '组件',
                        en: 'component',
                        isRight: false
                    },
                    {
                        zh: '插槽',
                        en: '插槽',
                        isRight: false
                    },
                ]
            },
            methods: {
                jie(obj) {
                    this.list[obj.index].isRight = obj.result
                },
                Yadd() {
                    const { zh, en } = this.assets;
                    if (zh === '' || en === '') return
                    this.list.push({
                        zh,
                        en,
                        isRight: false,
                    })
                },
                Ydel(index) {
                    this.list.splice(index, 1)
                }
            }
        })
    </script>



</body>

</html>